  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        Home
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/app-generator/flask-user-authentication">Sources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://appseed.us/admin-dashboards/flask">More Starters</a>
          </li>
        </ul>
        <form action="https://appseed.us" class="d-flex">
          <button class="btn btn-outline-success" type="submit">AppSeed</button>
        </form>
      </div>
    </div>
  </nav>
</header>
